ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body{
    font-family: "游ゴシック","メイリオ", sans-serif;
    text-align: center;
}

h3{
  color: #00B200;
}

img{
  padding: 5px;
}

.works_item{
  background-color: #f0f0f0;
}

/*top area */
.top{
  background-color: #4CB2D4;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*header area */
.header_menu {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_menu ul {
  list-style: none;
  font-size: 1.0rem;
}
.header_menu ul li {
  display: inline-block;
  padding: 0 8px;
}
.header_menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 960px) {

  .header_menu {
    height: 65px;
  }
  .header_menu ul {
    font-size: 1.8rem;
  }
  .header_menu ul li {
    padding: 0 20px;
  }

}

/*footer area */
.footer_menu {
  margin-top: 50px;
  background-color: #009999;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_menu ul {
  list-style: none;
  font-size: 1.0rem;
}
.footer_menu ul li {
  display: inline-block;
  padding: 0 8px;
}
.footer_menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 960px) {

  .footer_menu {
    height: 65px;
  }
  .footer_menu ul {
    font-size: 1.8rem;
  }
  .footer_menu ul li {
    padding: 0 20px;
  }

}
